{% extends "base.html" %}

{{ title }}
{% block content %}
    {% set items = ['экзобиолог', 'врач', 'климатолог', 'астрогеолог',
    'гляциолог', 'метеоролог', 'ветеренар', 'химик',
    'медсестра', 'хирург', 'алхимик', 'инженер-исследователь', 'пилот', 'строитель', 
    'инженер по терраформированию', 'специалист по радиальнной защите',
    'инженер жизнеобеспечения', 'оператор марсохода', 'киберинженер',
    'штурман', 'пилот дронов'] %}
    <h4>И на Марсе будут яблони цвести!</h4>
    <h1>Список профессий</h1>
    {% if ol == 'ol' %}
    <ol class="olive">
        {% for item in items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ol>
    {% elif ol == 'ul' %}
    <ul class="uli">
        {% for item in items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}