{% extends "base.html" %}

{% block content %}
    {% set lst_ns = ['экзобиолог', 'врач', 'климатолог', 'астрогеолог',
    'гляциолог', 'метеоролог', 'ветеренар', 'химик',
    'медсестра', 'хирург', 'алхимик'] %}
    {% set lst_it = ['инженер-исследователь', 'пилот', 'строитель', 
    'инженер по терраформированию', 'специалист по радиальнной защите',
    'инженер жизнеобеспечения', 'оператор марсохода', 'киберинженер',
    'штурман', 'пилот дронов'] %}
    <h4>И на Марсе будут яблони цвести!</h4>
    {% if prof in lst_ns %}
        <h2>Научные симуляторы</h2>
        <div class="image">
            <img src="/static/img/ns.png">
        </div>
    {% elif prof in lst_it %}
        <h2>Инженерные тренажеры</h2>
       <div class="image">
           <img src="/static/img/is.png">
       </div>
    {% endif %}
{% endblock %}